<% layout('layouts/boilerplate')%>
<div class="container">
  <h1 class="my-3 text-green">Clinique des Oasis</h1>
  <div class="row">
    <div class="col-lg-4 col-sm-12 col-md-6 col-12 my-3 text-center">
      <div id="eventCards" class="card">
        <div class="card-image event-card-wrapper">
          <div class="overlay"></div>
          <img
            height="250px"
            src="/assets/oasis-cardio.jpg"
            class="card-img-top"
          />
        </div>
        <div class="card-body">
          <h6 class="card-title align-self-center">
            <a href="/events/12345" class="text-cyan text-decoration-none">
              Cardiologie Congénitale
            </a>
          </h6>
          <p class="card-text">
            Notre wilaya sera un pôle de cardiologie congénitale en matière de
            diagnostic et de prise en charge des enfants atteints de
            cardiopathies...
          </p>

          <div class="mb-2 text-primary text-center">
            <span>
              <i class="bi bi-calendar-event-fill"></i>
              <span>13/10/2022</span>
            </span>
          </div>
          <div class="my-3">
            <a
              href="/user/656565656/profile"
              class="link-dark text-decoration-none d-flex align-items-center justify-content-center mb-3"
            >
              <img class="avatar me-1" src="/assets/profile.jpeg" alt="user" />
              <span>Mohamed Reghis</span>
            </a>
          </div>

          <a
            href="/events/filter?category=dsfdsfsdf"
            class="badge rounded-pill text-decoration-none align-self-center tag-cyan"
          >
            Medical
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 col-md-6 col-12 my-3 text-center">
      <div id="eventCards" class="card">
        <div class="card-image event-card-wrapper">
          <div class="overlay"></div>
          <img
            height="250px"
            src="/assets/Child-cardio.jpg"
            class="card-img-top"
          />
        </div>
        <div class="card-body">
          <h6 class="card-title align-self-center">
            <a href="/events/545454" class="text-red text-decoration-none">
              Cardio Event
            </a>
          </h6>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>

          <div class="mb-2 text-primary text-center">
            <span>
              <i class="bi bi-calendar-event-fill"></i>
              <span>14/10/2022</span>
            </span>
          </div>

          <div class="my-3">
            <a
              href="/user/656565656/profile"
              class="link-dark text-decoration-none d-flex align-items-center justify-content-center mb-3"
            >
              <img class="avatar me-1" src="/assets/profile.jpeg" alt="user" />
              <span>Harrouzi Hocine</span>
            </a>
          </div>

          <a
            href="/events/filter?category=dsfdsfsdf"
            class="badge rounded-pill text-decoration-none align-self-center tag-red"
          >
            Medical
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 col-md-6 col-12 my-3 text-center">
      <div id="eventCards" class="card">
        <div class="card-image event-card-wrapper">
          <div class="overlay"></div>
          <img height="250px" src="/assets/cardio4.jpg" class="card-img-top" />
        </div>
        <div class="card-body">
          <h6 class="card-title align-self-center">
            <a href="/events/545454" class="text-purple text-decoration-none">
              Cardio Event
            </a>
          </h6>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>

          <div class="mb-2 text-primary text-center">
            <span>
              <i class="bi bi-calendar-event-fill"></i>
              <span>15/10/2022</span>
            </span>
          </div>

          <div class="my-3">
            <a
              href="/user/656565656/profile"
              class="link-dark text-decoration-none d-flex align-items-center justify-content-center mb-3"
            >
              <img class="avatar me-1" src="/assets/profile.jpeg" alt="user" />
              <span>Fakher Yacine</span>
            </a>
          </div>

          <a
            href="/events/filter?category=dsfdsfsdf"
            class="badge rounded-pill text-decoration-none align-self-center tag-purple"
          >
            Medical
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="cluster-map" class="mt-5"></div>

<script src="/js/clusterMap.js"></script>
