<a
  class="nav-link dropdown-toggle "
  href="#"
  role="button"
  data-bs-toggle="dropdown"
  aria-expanded="false"
>
  <i class="bi bi-globe fs-4 fw-bold" id="selected-language"></i>
</a>
<ul
  class="dropdown-menu"
  aria-labelledby="navbarDarkDropdownMenuLink"
>
  <li><a class="dropdown-item" href="/en">English</a></li>
  <li><a class="dropdown-item" href="/fr">French - Français</a></li>
  <li><a class="dropdown-item" href="/ar">Arabic - العربية</a></li>
</ul>
