<% if (currentUser){ %>
<a
  class="nav-link dropdown-toggle"
  href="#"
  id="navbarDarkDropdownMenuLink"
  role="button"
  data-bs-toggle="dropdown"
  aria-expanded="false"
  ><img
    src="https://www.gravatar.com/avatar/EMAIL_MD5?d=https%3A%2F%2Fui-avatars.com%2Fapi%2F/<%= currentUser.firstname%>+<%= currentUser.lastname%>/200/AAD4A6"
    alt=""
    width="30"
    height="30"
    class="rounded-circle me-2"
/></a>
<% } else { %>
<a
  class="nav-link dropdown-toggle"
  href="#"
  id="navbarDarkDropdownMenuLink"
  role="button"
  data-bs-toggle="dropdown"
  aria-expanded="false"
>
  <i class="bi bi-person-circle"></i>
</a>
<% } %>
<ul
  class="dropdown-menu "
  aria-labelledby="navbarDarkDropdownMenuLink"
>
  <% if (!currentUser) {%>
  <li><a class="dropdown-item" href="/user/login">Login</a></li>
  <% } else { %>
  <li>
    <a class="dropdown-item" href="/user/<%= currentUser._id %>/profile"
      >Profile</a
    >
  </li>
  <li>
    <a class="dropdown-item" href="/user/logout">Logout</a>
  </li>
  <% } %>
</ul>
