.bg-temptress {
  background-color: #3a2625;
}

.bg-unmetal {
  background-color: #25393a;
}

.bg-chineseWhite {
  background-color: #dbe3e3;
}

.bg-hookersGreen {
  background-color: #497174;
}

.bg-pistachio {
  background-color: #dcf4e4;
}

.bg-greenSea {
  background-color: #5da49c;
}

.bg-crystalBlue {
  background-color: #afd9ea;
}

.bg-lightCoral {
  background-color: #e2564c;
}

.bg-mediumTurquoise {
  background-color: #0fa2b6;
}

.bg-antiqueSteel {
  background-color: #eff5f5;
}

.text-temptress {
  color: #3a2625;
}

.text-chineseWhite {
  color: #dbe3e3;
}

.text-gunmetal {
  color: #25393a;
}

.text-hookersGreen {
  color: #497174;
}

.text-antiqueSteel {
  color: #eff5f5;
}

.text-pistachio {
  color: #dcf4e4;
}

.text-crystalBlue {
  color: #afd9ea;
}

.text-greenSea {
  color: #5da49c;
}

.text-lightCoral {
  color: #e2564c;
}

.text-mediumTurquoise {
  color: #0fa2b6;
}

.btn-greenSea {
  color: #fff;
  background-color: #5da49c;
  border-color: #5da49c;
}

.btn-greenSea:hover {
  color: #fff;
  background-color: #5da49c;
  opacity: 0.8;
}

.btn-crystalBlue {
  color: #fff;
  background-color: #afd9ea;
  border-color: #afd9ea;
}

.btn-crystalBlue:hover {
  color: #fff;
  background-color: #afd9ea;
  opacity: 0.8;
}

.btn-mediumTurquoise {
  color: #fff;
  background-color: #0fa2b6;
  border-color: #0fa2b6;
}

.btn-mediumTurquoise:hover {
  color: #fff;
  background-color: #0fa2b6;
  opacity: 0.8;
}

.btn-lightCoral {
  color: #fff;
  background-color: #e2564c;
  border-color: #e2564c;
}

.btn-lightCoral:hover {
  color: #fff;
  background-color: #e2564c;
  opacity: 0.8;
}

.btn-pistachio {
  color: #fff;
  background-color: #dcf4e4;
  border-color: #dcf4e4;
}

.btn-pistachio:hover {
  color: #fff;
  background-color: #dcf4e4;
  opacity: 0.8;
}

.btn-antiqueSteel {
  color: #fff;
  background-color: #eff5f5;
  border-color: #eff5f5;
}

.btn-antiqueSteel:hover {
  color: #fff;
  background-color: #eff5f5;
  opacity: 0.8;
}

.btn-hookersGreen {
  color: #fff;
  background-color: #497174;
  border-color: #497174;
}

.btn-hookersGreen {
  color: #fff;
  background-color: #497174;
  border-color: #497174;
}

.btn-outline-hookersGreen {
  color: #497174;
  border-color: #497174;
  background-color: #fff;
}

.btn-outline-hookersGreen:hover {
  background-color: #497174;
  color: #fff;
}

.btn-outline-lightCoral {
  color: #e2564c;
  background-color: #fff;
  border-color: #e2564c;
}

.btn-outline-lightCoral:hover {
  background-color: #e2564c;
}

.btn-outline-antiqueSteel {
  color: #eff5f5;
  background-color: #fff;
  border-color: #eff5f5;
}

.btn-outline-antiqueSteel:hover {
  background-color: #eff5f5;
}

.alert-greenSea {
  color: #4c837c;
  background-color: #dcf4e4;
  border-color: #dcf4e4;
}

.table-greenSea {
  --bs-table-bg: #5bb8ad91;
  --bs-table-striped-bg: #CAEDE9;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #bbd8d5;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #CAEDE9;
  --bs-table-hover-color: #000;
  color: #555353;
  border-color: #bcd0c7;
}/*# sourceMappingURL=color.css.map */