<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-2">
        <img class="bd-placeholder-img card-img-top shadow" src="https://picsum.photos/510/501" alt="" />
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-2">
        <img class="bd-placeholder-img card-img-top shadow" src="https://picsum.photos/510/502" alt="" />
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-2">
        <img class="bd-placeholder-img card-img-top shadow" src="https://picsum.photos/510/503" alt="" />
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-2">
        <img class="bd-placeholder-img card-img-top shadow" src="https://picsum.photos/510/504" alt="" />
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-2">
        <img class="bd-placeholder-img card-img-top shadow" src="https://picsum.photos/510/505" alt="" />
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-2">
        <img class="bd-placeholder-img card-img-top shadow" src="https://picsum.photos/510/506" alt="" />
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-2">
        <img class="bd-placeholder-img card-img-top shadow" src="https://picsum.photos/510/507" alt="" />
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-2">
        <img class="bd-placeholder-img card-img-top shadow" src="https://picsum.photos/510/508" alt="" />
      </div>
    </div>
  </div>
</section>