<section class="hero">
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-5">
        <img
          src="assets/logo.png"
          class="d-block mx-lg-auto img-fluid"
          alt="EventPlus Logo"
          width="400"
          height="200"
          loading="lazy"
        />
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Clinique Des Oasis</h1>
        <p class="lh-base text-wrap">
          Bonjour et bienvenue sur votre plateforme EventPlus, vous trouverez
          ici des événements, des conférences, des salons virtuels, des
          organisateurs, des entreprises, des experts et bien plus encore...
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/events" class="btn btn-primary btn-lg px-4 me-md-2">
            Consulter Les Événements
          </a>
          <!-- <a
            href="/user/register"
            class="btn btn-outline-secondary btn-lg px-4"
          >
            Inscrire
          </a> -->
        </div>
      </div>
    </div>
  </div>
</section>
