<section class="hero box-separator">
  <div class="">
    <!-- <h1>Oasis Events</h1> -->
    <!-- <h2>Clinique des Oasis de Diagnostic et de Soins</h2> -->
    <a href="/events" class="btn shadow">Events</a>
  </div>
</section>

<!-- <footer class="blog-footer bg-light shadow-sm rounded"></footer> -->
