<section class="container box-separator text-gunmetal py-4 ">
    <h2 class="blog-post-title">Clinique Des Oasis</h2>
    <p class="paragraph">
      La clinique des OASIS est dotée d'un plateau technique conforme aux
      normes internationales en vigueur, et répond ainsi aux exigences des
      chirurgiens cardiaques et orthopédistes en particulier. Le personnel
      paramédical est hautement qualifié dans les spécialités, rompu à la
      prise en charge des pathologies chirurgicales lourdes. Au niveau des
      équipements annexes tous les moyens de sécurité (générateur
      d'oxygène, groupe électrogène, réserve d'eau) autorise un confort
      maximal pour les patients.
    </p>
</section>
  <hr />